# Copy to .env and fill in values from: terraform output -raw dot_env
PORT=3000
BLOB_STORAGE_BASE_URL=https://<storage-account>.blob.core.windows.net/images
COSMOS_ENDPOINT=https://<cosmos-account>.documents.azure.com:443/
COSMOS_KEY=<primary-key>
COSMOS_DB_NAME=kitchendb
COSMOS_CONTAINER_NAME=recipes
POSTGRES_HOST=<server>.postgres.database.azure.com
POSTGRES_DB=kitchendb
POSTGRES_USER=<admin-user>
POSTGRES_PASSWORD=<password>
POSTGRES_PORT=5432
POSTGRES_SSL=true
